<div class="container">
	<div class="time">
		<span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
	</div>
	-=[ include('links') ]=-
	<div class="calendar">
		<span class="day">day</span><br>
		<span class="date">00</span><br>
		<div class="month-and-year">
			<span class="month">Month</span>/<span class="year">0000</span>
		</div>
	</div>
	<div class="home">
		<h1 class="text">Home page</h1>
		<div class="bg-home">
			<div class="a" onmouseover="change_color(this)"></div>
			<div class="b" onmouseover="change_color(this)"></div>
			<div class="c" onmouseover="change_color(this)"></div>
		</div>
	</div>
</div>